.recipe-page-image {
  width: 26vw;
  height: 30vw;
  border: 5px solid indianred;
  border-radius: 5px;
}

.recipe-page {
  display: flex;
  justify-content: center;
}

.recipe-page-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90vw;
}

.recipe-page-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.ingred-measure-container {
  display: flex;
  flex-direction: column;
  width: 15vw;
  font-size: 15px;
  line-height: 16px;
}

.instructions {
  display: flex;
  justify-content: baseline;
  line-height: 30px;
  text-align: left;
  font-size: 16px;
  border: 2px solid indianred;
  padding: 5px;
}

.recipe-page-stats {
  display: flex;
  flex-wrap: wrap;
  width: 22vw;
  font-size: 16px;
  justify-content: space-evenly;
}
