@import url("https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe");

.recipe-page-image {
  width: 26vw;
  height: 30vw;
  border: 5px solid #768fff;
  border-radius: 5px;
}

.recipe-page {
  display: flex;
  justify-content: center;
}

.recipe-page-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90vw;
  margin-top: 10px;
}

.recipe-page-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.ingred-measure-container {
  display: flex;
  flex-direction: column;
  width: 18vw;
  font-size: 15px;
  line-height: 2.5em;
}

.instructions {
  display: flex;
  line-height: 28px;
  text-align: left;
  font-size: 15px;
  border: 2px solid #768fff;
  padding: 5px;
}

.recipe-page-stats {
  display: flex;
  flex-wrap: wrap;
  width: 22vw;
  font-size: 16px;
  justify-content: space-evenly;
  border: 2px solid #768fff;
  margin: 10px 0px;
  padding: 5px;
}

.recipe-page-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 40vw;
}

.recipe-page-delete-button {
  font-family: "ZCOOL KuaiLe", cursive;
  width: 12vw;
}

.recipe-page-name {
  font-size: 24px;
}

@media (max-width: 500px) {
  .recipe-page-image {
    width: 55vw;
    height: 50vw;
  }
  .recipe-page-row {
    display: flex;
    flex-direction: column;
  }

  .recipe-page-column {
    display: flex;
    flex-direction: column;
  }
  .recipe-page-stats {
    display: flex;
    flex-direction: row;
    width: 45vw;
  }

  .recipe-page-buttons {
    width: 100%;
  }

  .recipe-page-delete-button {
    width: 20vw;
  }

  .ingred-measure-container {
    display: flex;
    flex-direction: column;
    width: 54vw;
    font-size: 15px;
    line-height: 2em;
  }

  .recipe-page-name {
    margin-top: 100px;
  }

  .recipe-page-name {
    margin: 10px;
  }
}
