.recipe-page-image {
    width: 28vw;
    height: 32vw;
}

.recipe-page {
    display: flex;
    justify-content: center;
}

.recipe-page-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90vw;
  }
  
  .recipe-page-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  /* .ingredients {
      display: flex;
      justify-content: flex-start;
  }

  .measurements {
      display: flex;
      justify-content: flex-end;
  } */

  .ingred-measure-container {
      display: flex;
      flex-direction: column;
      width: 15vw;

  }

  .instructions {
      display: flex;
      justify-content: baseline;
      line-height: 30px;
      text-align: left;
  }

  .recipe-page-stats {
      display: flex;
      flex-wrap: wrap;
      width: 22vw;
      font-size: 16px;
      justify-content: space-evenly;
  }