.all-recipes-image img {
  width: 250px;
  height: 100%;
  opacity: 0.5;
}

.all-recipes-image {
  border: 8px solid #768fff;
  border-radius: 10px;
}

.all-recipes-image img:hover {
  opacity: 1;
}

.all-recipes {
  border: 2px solid #768fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 38vw;
  padding: 10px;
  margin: 5px;
  background-color: whitesmoke;
}

.all-recipes-stats {
  padding-left: 30px;
  line-height: 4em;
  font-size: 14px;
}

.recipes-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.all-recipes-name {
  font-weight: bold;
  font-size: 15px;
}

@media (max-width: 500px) {
  .all-recipes-image img {
    width: 180px;
    opacity: 1;
  }

  .all-recipes {
    width: 70vw;
    display: flex;
    justify-content: center;
  }

  .all-recipes-stats {
    line-height: 2em;
    font-size: 16px;
    padding-left: 0px;
  }
}
